body::after {
	content: "";
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.8s ease 0s;
	pointer-events: none;
	z-index: 149;
}
.popup-show {
	body::after {
		opacity: 1;
	}

	[data-tippy-root] {
		display: none !important;
	}
}

.popup {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 30px 10px;
	transition: visibility 0.8s ease 0s;
	visibility: hidden;
	pointer-events: none;

	// .popup__wrapper
	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		min-height: 100%;
		flex: 1 1 auto;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	// .popup__content
	&__content {
		visibility: hidden;
		transform: scale(0);
		transition: transform 0.3s ease 0s;
		background-color: $White;
		width: 100%;
		max-width: rem(832);
		@include adaptiveValue("padding", 32, 16);

		.lock & {
			visibility: visible;
		}
	}

	// .popup__text
	&__text {
	}

	// .popup__close
	&__close {
		position: absolute;
		right: rem(12);
		top: rem(12);
		z-index: 1;
		font-size: rem(24);
		background-color: $White;
		display: block;
		padding: rem(8);
		border-radius: rem(2);
		outline: none;

		@media (any-hover: hover) {
			transition: $transition ease color 0s;

			&:hover {
				color: $Latte;
			}
		}
	}

	// .popup_show
	&_show {
		z-index: 150;
		visibility: visible;
		overflow: auto;
		pointer-events: auto;

		.popup__content {
			visibility: visible;
			transform: scale(1);
		}
	}
}
