//====================================================================================================
.footer {
  @include adaptiveValue("padding-top", 64, 32);
  @include adaptiveValue("padding-bottom", 100, 32);
  background-color: $milk-background;

  // .footer__container
  &__container {
    display: grid;
    align-content: flex-start;
    gap: rem(32);
    max-width: rem(1420);

    @media (min-width: $mobileM) {
      display: flex;
    }
  }

  // .footer__left
  &__left {
    display: grid;
    align-content: flex-start;
    @include adaptiveValue("row-gap", 64, 20);
  }

  // .footer__logo
  &__logo {
    .logo__link {
      display: inline-grid;
      align-content: flex-start;
      row-gap: rem(8);
      color: #c8c8c8;
    }

    ._icon-logo {
      font-size: rem(40);
      color: inherit;
    }
  }

  // .footer__copyright
  &__copyright {
    color: $Cold-Cement;
    @include adaptiveValue("font-size", 14, 12);

    @media (min-width: $mobileSmall) {
      max-width: rem(402);
    }
  }

  // .footer__search
  &__search {
    @media (min-width: $mobileSmall) {
      max-width: rem(348);
    }
  }

  // .footer__right
  &__right {
    flex: 1 0 50%;
    display: grid;
    row-gap: rem(32);
    align-content: space-between;

    @media (min-width: $mobileM) {
      justify-items: flex-end;
    }

    .contacts {
      @media (max-width: $tablet) {
        display: grid;
        align-content: flex-start;
        row-gap: rem(12);
      }
    }

    .contacts__item {
      display: flex;
      align-items: center;

      a {
        @include adaptiveValue("column-gap", 24, 8);
        @include adaptiveValue("font-size", 18, 14, 1772, 992, 1);

        @media (any-hover: hover) {
          &:hover {
            color: $Latte;
          }
        }

        &::before {
          font-size: rem(20);
          color: $Latte;

          @media (min-width: $tablet) {
            @include adaptiveValue("font-size", 38, 24);
          }
        }
      }
    }
  }

  // .footer__info
  &__info {
    display: grid;
    row-gap: rem(12);

    @media (min-width: $tablet) {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      @include adaptiveValue("column-gap", 100, 24, 1440, 1280, 1);
    }

    .top-info {
      @media (max-width: $tablet) {
        display: grid;

        i::before {
          font-size: rem(24);
        }
      }

      .top-info__item {
        @media (max-width: $tablet) {
          font-size: rem(14);
        }
      }
    }
  }

  // .footer__kan
  &__kan {
    @media (max-width: $mobileSmall) {
      display: flex;
      justify-content: center;
    }

    a {
      @media (any-hover: hover) {
        path {
          transition: $transition ease fill 0s;
        }

        &:hover {
          path {
            fill: $Latte;
          }
        }
      }
    }
  }

  .kan-logo_small {
    display: none;
  }

  // .footer_small
  &_small {
    @media (min-width: $mobile) {
      padding: rem(20) 0;

      .footer__container {
        max-width: rem(1856);
        align-items: center;
      }

      .footer__left {
        flex: 1;
      }

      .footer__right {
        flex: 0 0 rem(31);
      }

      .kan-logo_small {
        display: block;
      }

      .kan-logo_full {
        display: none;
      }

      .footer__logo,
      .footer__search,
      .footer__info {
        display: none;
      }

      .footer__copyright {
        font-size: rem(12);
        color: $Electro-Black;
        opacity: 0.4;
        max-width: 100%;
      }
    }
  }

  // .footer_black
  &_black {
    background-color: $Darker-main;
    color: rgba($color: $White, $alpha: 0.4);

    .footer__copyright {
      color: inherit;
    }

    .kan-logo {
      path {
        fill: $White;
      }
    }
  }

  // .footer_hide
  &_hide {
    @media (min-width: $mobile) {
      display: none;
    }
  }
}

.search-form {
  position: relative;

  // .search-form__input
  &__input {
    padding: rem(16) rem(48) rem(16) rem(24);
  }

  // .search-form__submit
  &__submit {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: rem(20);
    @include adaptiveValue("font-size", 22, 18);
    color: $Rainy;

    @media (any-hover: hover) {
      transition: $transition ease color 0s;

      &:hover {
        color: $mainColor;
      }
    }
  }
}

//====================================================================================================
